# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# =========================
# PyInstaller / build
# =========================
build/
dist/
# *.spec

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.cache

# =========================
# OS junk files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
